---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="Frontend Mentor | Blog Preview Card"
  description="A blog preview card component challenge from Frontend Mentor."
>
  <main>
    <div class="flex h-screen items-center justify-center px-theme-300">
      <article
        class="w-96 rounded-theme-lg border border-theme-gray950 bg-theme-white p-theme-300 shadow-theme"
      >
        <div class="h-[200px] overflow-hidden rounded-theme-sm">
          <img
            src="/illustration-article.svg"
            alt="Inspiring Symbology"
            class="h-full w-full object-cover"
            loading="eager"
            width="336"
            height="201"
          />
        </div>
        <div class="mt-theme-300">
          <p
            class="inline-block rounded-theme-xs bg-theme-yellow px-theme-150 py-theme-50 fluid-text-preset3 font-extrabold text-theme-gray950"
          >
            Learning
          </p>
          <time
            class="mt-theme-150 block fluid-text-preset3 font-medium text-theme-gray950"
            datetime="2023-12-21"
          >
            Published 21 Dec 2023
          </time>
          <h1 class="mt-theme-150">
            <a
              href="/"
              referrerpolicy="no-referrer"
              class="fluid-text-preset1 font-extrabold hover:text-theme-yellow"
            >
              HTML & CSS foundations
            </a>
          </h1>
          <p
            class="mt-theme-150 fluid-text-preset2 font-medium text-theme-gray500"
          >
            These languages are the backbone of every website, defining
            structure, content, and presentation.
          </p>
        </div>
        <footer class="mt-theme-300 flex items-center gap-theme-150">
          <div class="size-8">
            <img
              src="/image-avatar.webp"
              alt="Greg Hooper"
              class="h-full w-full"
              loading="eager"
              width="32"
              height="32"
            />
          </div>
          <p class="text-preset3 font-extrabold">Greg Hooper</p>
        </footer>
      </article>
    </div>
  </main>
</MainLayout>
