---
import MainLayout from "@/layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";

import cardImage from "@/assets/illustration-article.svg";
import avatar from "@/assets/image-avatar.webp";
---

<MainLayout title="Frontend Mentor | Blog Preview Card">
  <div class="flex h-screen items-center">
    <div
      class="mx-auto max-w-[390px] rounded-3xl border border-neutralBlack bg-neutralWhite shadow-[rgb(18,18,18)_8px_8px_0px_0px]"
    >
      <Image
        src={cardImage}
        alt="A meaningless image to fill up space..."
        class="m-6 rounded-xl"
      />
      <div class="m-6">
        <p
          class="mb-2 inline-block rounded-md bg-primaryYellow px-4 py-1 font-extrabold"
        >
          Learning
        </p>
        <p class="mb-4">Published 21 Dec 2023</p>
        <h1 class="mb-4 text-2xl font-extrabold">HTML & CSS foundations</h1>
        <p class="mb-4 text-neutralGrey">
          These languages are the backbone of every website, defining structure,
          content, and presentation.
        </p>
        <div class="grid grid-cols-[auto,1fr] gap-4">
          <Image src={avatar} alt="Greg Hooper" width="35" />
          <p class="self-center font-extrabold">Greg Hooper</p>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
