---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="Frontend Mentor | Blog Preview Card"
  description="A blog preview card component challenge from Frontend Mentor."
>
  <main>
    <div class="px-theme-300 flex h-screen items-center justify-center">
      <article
        class="bg-theme-white border-theme-gray950 shadow-theme rounded-theme-lg p-theme-300 w-96 border"
      >
        <div class="rounded-theme-sm h-[200px] overflow-hidden">
          <img
            src="/illustration-article.svg"
            alt="Inspiring Symbology"
            class="h-full w-full object-cover"
            loading="eager"
            width="336"
            height="201"
          />
        </div>
        <div class="mt-theme-300">
          <p
            class="bg-theme-yellow rounded-theme-xs px-theme-150 py-theme-50 fluid-text-preset3 text-theme-gray950 inline-block font-extrabold"
          >
            Learning
          </p>
          <time
            class="mt-theme-150 fluid-text-preset3 text-theme-gray950 block font-medium"
            datetime="2023-12-21"
          >
            Published 21 Dec 2023
          </time>
          <h1 class="mt-theme-150">
            <a
              href="/"
              target="_blank"
              referrerpolicy="no-referrer"
              class="hover:text-theme-yellow fluid-text-preset1 font-extrabold"
            >
              HTML & CSS foundations
            </a>
          </h1>
          <p
            class="text-theme-gray500 mt-theme-150 fluid-text-preset2 font-medium"
          >
            These languages are the backbone of every website, defining
            structure, content, and presentation.
          </p>
        </div>
        <footer class="mt-theme-300 gap-theme-150 flex items-center">
          <div class="size-8">
            <img
              src="/image-avatar.webp"
              alt="Greg Hooper"
              class="h-full w-full"
              loading="eager"
              width="32"
              height="32"
            />
          </div>
          <p class="text-preset3 font-extrabold">Greg Hooper</p>
        </footer>
      </article>
    </div>
  </main>
</MainLayout>
